<app-nav/>
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="./assets/Header/Carousel-Img1.png" class="d-block w-100" alt="Image1">
      <div class="carousel-caption d-flex align-items-center justify-content-center">
        <div class="caption-text">
          <p class="fs-5">Cada compra que realizas contribuye directamente al bienestar de los artesanos y sus familias.</p>
          <p class="fs-5">Únete a nosotros en la misión de preservar y promover el arte hecho a mano, y ayuda a mantener vivas estas valiosas tradiciones.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/Header/Carousel-Img2.png" class="d-block w-100" alt="Image2">
      <div class="carousel-caption d-flex align-items-center justify-content-center">
        <div class="caption-text">
          <p class="fs-5">Cada compra que realizas contribuye directamente al bienestar de los artesanos y sus familias.</p><br><br>
          <p class="fs-5">Únete a nosotros en la misión de preservar y promover el arte hecho a mano, y ayuda a mantener vivas estas valiosas tradiciones.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="./assets/Header/Carousel-Img3.png" class="d-block w-100" alt="Image3">
      <div class="carousel-caption d-flex align-items-center justify-content-center">
        <div class="caption-text">
          <p class="fs-5">Cada compra que realizas contribuye directamente al bienestar de los artesanos y sus familias.</p><br><br>
          <p class="fs-5">Únete a nosotros en la misión de preservar y promover el arte hecho a mano, y ayuda a mantener vivas estas valiosas tradiciones.</p>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
