<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@700&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carousel and Side Content</title>
</head>
<body>



<div class="container">



  <div id="contenedor-imagen">
    <div class="breadcrumb">
      <a href="#" class="return-link"><i class="fas fa-arrow-left"></i> Volver</a>
    </div>
    <img src="assets/ancient-pottery-vessels-collection.jpg" alt="Mi Foto" id="imagen">
  </div>



  <div class="container-left">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Vasijas de barro hecha a mano. </h1>
        <h2 class="card-text">S/250.00</h2>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Descripción </h1>
        <p class="card-text"> Cada una de nuestras piezas es única, moldeada
          con habilidad y pasión por nuestros expertos
          artesanos. Desde elegantes jarrones hasta prácticas
          ollas, nuestras vasijas son el complemento perfecto
          para tu hogar.  </p>

      </div>
    </div>


    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Detalles del vendedor </h1>
        <h5 class="card-text"><i class="fas fa-user"></i> Carlos Gil Gamboa</h5>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary">Añadir al carrito</button>
    </div>
  </div>

</div>

</body>
</html>

