<div class="container-fluid">
  <div class="mainCatalog">
    <h3 class="hCatalog">CATÁLOGO DE PRODUCTOS</h3>
    <h6 class="hCatalog">¡Explora nuestro catálogo de artesanías únicas!</h6>
    <span class="spanSearch">
      <div>
        <label class="labelCatalog">Categoría</label><br>
        <select class="selectCatalog">
          <option>Arte</option>
          <option>Joyería</option>
          <option>Textilería</option>
          <option>Hogar</option>
          <option>Accesorios</option>
        </select>
      </div>
      <div>
        <label>Departamento</label><br>
        <select class="selectCatalog">
          <option>...</option>
        </select>
      </div>
      <div>
        <label>Provincia</label><br>
        <select class="selectCatalog">
          <option>...</option>
        </select>
      </div>
      <div>
        <label>Distrito</label><br>
        <select class="selectCatalog">
          <option>...</option>
        </select>
      </div>
    </span>
  </div>
  <div class="productsList">
    <div class="col-md-3">
      <div class="card colorCard" style="width: 18rem;">
        <img src="./assets/Img/img6.png" class="card-img-top imgProduct">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5>Título</h5>
            </div>
            <div class="col-md-4 productHeart">
                <img class="imgHeart" src="./assets/Img/corazon-circular.png" alt="Heart Icon">
              </div>
          </span>
          <p class="card-text">S/00.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card colorCard" style="width: 18rem;">
        <img src="./assets/Img/img6.png" class="card-img-top imgProduct">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5>Título</h5>
            </div>
            <div class="col-md-4 productHeart">
                <img class="imgHeart" src="./assets/Img/corazon-circular.png" alt="Heart Icon">
              </div>
          </span>
          <p class="card-text">S/00.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card colorCard" style="width: 18rem;">
        <img src="./assets/Img/img6.png" class="card-img-top imgProduct">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5>Título</h5>
            </div>
            <div class="col-md-4 productHeart">
                <img class="imgHeart" src="./assets/Img/corazon-circular.png" alt="Heart Icon">
              </div>
          </span>
          <p class="card-text">S/00.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card colorCard" style="width: 18rem;">
        <img src="./assets/Img/img6.png" class="card-img-top imgProduct">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5>Título</h5>
            </div>
            <div class="col-md-4 productHeart">
                <img class="imgHeart" src="./assets/Img/corazon-circular.png" alt="Heart Icon">
              </div>
          </span>
          <p class="card-text">S/00.00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="productsList">
    <div class="col-md-3">
      <div class="card colorCard" style="width: 18rem;">
        <img src="./assets/Img/img6.png" class="card-img-top imgProduct">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5>Título</h5>
            </div>
            <div class="col-md-4 productHeart">
                <img class="imgHeart" src="./assets/Img/corazon-circular.png" alt="Heart Icon">
              </div>
          </span>
          <p class="card-text">S/00.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card colorCard" style="width: 18rem;">
        <img src="./assets/Img/img6.png" class="card-img-top imgProduct">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5>Título</h5>
            </div>
            <div class="col-md-4 productHeart">
                <img class="imgHeart" src="./assets/Img/corazon-circular.png" alt="Heart Icon">
              </div>
          </span>
          <p class="card-text">S/00.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card colorCard" style="width: 18rem;">
        <img src="./assets/Img/img6.png" class="card-img-top imgProduct">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5>Título</h5>
            </div>
            <div class="col-md-4 productHeart">
                <img class="imgHeart" src="./assets/Img/corazon-circular.png" alt="Heart Icon">
              </div>
          </span>
          <p class="card-text">S/00.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card colorCard" style="width: 18rem;">
        <img src="./assets/Img/img6.png" class="card-img-top imgProduct">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5>Título</h5>
            </div>
            <div class="col-md-4 productHeart">
                <img id="icon" class="imgHeart" src="./assets/Img/corazon-circular.png" alt="Heart Icon">
              </div>
          </span>
          <p class="card-text">S/00.00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="productsList">
    <div class="col-md-3">
      <div class="card colorCard" style="width: 18rem;">
        <img src="./assets/Img/img6.png" class="card-img-top imgProduct">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5>Título</h5>
            </div>
            <div class="col-md-4 productHeart">
                <img class="imgHeart" src="./assets/Img/corazon-circular.png" alt="Heart Icon">
              </div>
          </span>
          <p class="card-text">S/00.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card colorCard" style="width: 18rem;">
        <img src="./assets/Img/img6.png" class="card-img-top imgProduct">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5>Título</h5>
            </div>
            <div class="col-md-4 productHeart">
                <img class="imgHeart" src="./assets/Img/corazon-circular.png" alt="Heart Icon">
              </div>
          </span>
          <p class="card-text">S/00.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card colorCard" style="width: 18rem;">
        <img src="./assets/Img/img6.png" class="card-img-top imgProduct">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5>Título</h5>
            </div>
            <div class="col-md-4 productHeart">
                <img class="imgHeart" src="./assets/Img/corazon-circular.png" alt="Heart Icon">
              </div>
          </span>
          <p class="card-text">S/00.00</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card colorCard" style="width: 18rem;">
        <img src="./assets/Img/img6.png" class="card-img-top imgProduct">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5>Título</h5>
            </div>
            <div class="col-md-4 productHeart">
                <img class="imgHeart" src="./assets/Img/corazon-circular.png" alt="Heart Icon">
              </div>
          </span>
          <p class="card-text">S/00.00</p>
        </div>
      </div>
    </div>
  </div>
  <div class="listPagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>
