.container {
  display: flex;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
}

div > a{
  margin-top: 20px;
}

.side-content {
  display: flex;
  flex-direction: column;
  flex: 1;

}

.side-content div {
  flex: 1;
  margin: 12px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spaced-body {
  margin-bottom: 20px;}

.card-body {
  margin-top: 10px;
  border: #ff0000;
  text-align: left;
}
.card {
  margin-bottom: 20px; /* Añade un espacio entre las tarjetas */
}
#contenedor-imagen {
  float: left;
  width: auto;
  justify-content: center;
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  margin-right: 200px;
}

#imagen {
  max-width: 750px; /* Ancho deseado */
  display: flex;
  border: 10px;
}

.btn-primary {
  background-color: #d4b79b;
  border-color: #d4b79b; /* Cambia el color del borde aquí */

  color: black; /* Cambia el color del texto a negro */
  font-weight: bold; /* Establece el texto en negrita */
}

.container-left{
  margin-top: 60px;
}

.fa-arrow-left, a{
  color: black; /* Cambia el color del texto a negro */
  font-weight: bold; /* Establece el texto en negrita */

}
