<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner carousel-style">
    <div class="carousel-item active rule-carousel">
      <img src="./assets/Admin/cliente1.png" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Nuestro éxito depende de la confianza que nuestros clientes depositan en nosotros. Es crucial que cada interacción sea positiva y profesional, ya que una buena relación con el cliente es la base de nuestra reputación y crecimiento continuo.</h5>
      </div>
    </div>
    <div class="carousel-item rule-carousel">
      <img src="./assets/Admin/cliente6.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Garantizar la seguridad de nuestra página de compras no solo protege a nuestros clientes, sino que también fortalece nuestra marca. Es esencial que comuniquemos claramente las medidas de seguridad que implementamos para que nuestros clientes se sientan seguros y confiados al realizar sus compras.</h5>
      </div>
    </div>
    <div class="carousel-item rule-carousel">
      <img src="./assets/Admin/cliente3.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>La satisfacción del cliente va más allá de ofrecer buenos productos; también implica proporcionar una experiencia de compra segura y confiable. Promover una página de compras segura demuestra nuestro compromiso con su seguridad y refuerza la confianza en nuestra empresa, lo que fomenta relaciones duraderas y leales.</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="div-table">
  <h2 style="margin-bottom: 50px;"><strong>Lista de Solicitudes</strong></h2>
  <div>
    <table class="table-class">
      <thead class="style-th">
      <tr>
        <th style="padding: 15px 30px 15px 30px;">Nombre Completo</th>
        <th style="padding: 15px 30px 15px 30px;">DNI</th>
        <th style="padding: 15px 30px 15px 30px;">Certificado</th>
        <th style="padding: 15px 60px 15px 60px;">Validación</th>
      </tr>
      </thead>
      <tbody  class="style-td">
      <tr style="border: 1px solid #B8885B;">
        <td style="padding: 15px 30px 15px 30px;">Carlos Xavier</td>
        <td style="padding: 15px 30px 15px 30px;">82384825</td>
        <td style="padding: 15px 30px 15px 30px;">
          <div>
            <button class="table-button" type="button">
              <img src="./assets/Admin/descargar.png" class="responsive-button">
            </button>
          </div>
        </td>
        <td style="padding: 15px 60px 15px 60px;">
          <div class="button-container">
            <button class="table-button" type="button">
              <img src="./assets/Admin/check.png" class="responsive-button">
            </button>
            <button class="table-button" type="button">
              <img src="./assets/Admin/x.png" class="responsive-button">
            </button>
          </div>
        </td>
      </tr>
      <tr style="border: 1px solid #B8885B;">
        <td style="padding: 15px 30px 15px 30px;">Carlos Xavier</td>
        <td style="padding: 15px 30px 15px 30px;">82384825</td>
        <td style="padding: 15px 30px 15px 30px;">
          <div>
            <button class="table-button" type="button">
              <img src="./assets/Admin/descargar.png" class="responsive-button">
            </button>
          </div>
        </td>
        <td style="padding: 15px 60px 15px 60px;">
          <div class="button-container">
            <button class="table-button" type="button">
              <img src="./assets/Admin/check.png" class="responsive-button">
            </button>
            <button class="table-button" type="button">
              <img src="./assets/Admin/x.png" class="responsive-button">
            </button>
          </div>
        </td>
      </tr>
      <tr style="border: 1px solid #B8885B;">
        <td style="padding: 15px 30px 15px 30px;">Carlos Xavier</td>
        <td style="padding: 15px 30px 15px 30px;">82384825</td>
        <td style="padding: 15px 30px 15px 30px;">
          <div>
            <button class="table-button" type="button">
              <img src="./assets/Admin/descargar.png" class="responsive-button">
            </button>
          </div>
        </td>
        <td style="padding: 15px 60px 15px 60px;">
          <div class="button-container">
            <button class="table-button" type="button">
              <img src="./assets/Admin/check.png" class="responsive-button">
            </button>
            <button class="table-button" type="button">
              <img src="./assets/Admin/x.png" class="responsive-button">
            </button>
          </div>
        </td>
      </tr>
      <tr style="border: 1px solid #B8885B;">
        <td style="padding: 15px 30px 15px 30px;">Carlos Xavier</td>
        <td style="padding: 15px 30px 15px 30px;">82384825</td>
        <td style="padding: 15px 30px 15px 30px;">
          <div>
            <button class="table-button" type="button">
              <img src="./assets/Admin/descargar.png" class="responsive-button">
            </button>
          </div>
        </td>
        <td style="padding: 15px 60px 15px 60px;">
          <div class="button-container">
            <button class="table-button" type="button">
              <img src="./assets/Admin/check.png" class="responsive-button">
            </button>
            <button class="table-button" type="button">
              <img src="./assets/Admin/x.png" class="responsive-button">
            </button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
