<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<div class="container-fluid font-josefin">
  <h1 style="text-align: center; margin-bottom: 20px;">SUBA SU PRODUCTO</h1>
  <form class="formClass">
    <div class="mainContainer">

      <div class="col-md-6 fileDiv">
        <label for="uploadImage" class="noStyleLabel">
          <img class="imgFile" src="./assets/Img/img5.png" alt="subir imagen">
        </label>
        <input class="noStyleInput" type="file" id="uploadImage" accept="image/*">
      </div>
      <div class="col-md-6">
        <label for="titleInput" class="form-label"><strong>Título</strong></label><br>
        <input name="name" type="text" id="titleInput" class="form-control inputTitle" placeholder="Título" [(ngModel)]="name">
        <div class=" row spanCategory">
          <div>
            <label><strong>Precio</strong></label>
            <div class="spanPrice">
              <label for="priceInput" class="form-label">S/.</label>
              <input class="form-control inputPrice" name="price" type="text" id="priceInput" placeholder="0.00" [(ngModel)]="price">
            </div>
          </div>
          <div>
            <label for="inputCategory" class="form-label"><strong>Categoría</strong></label><br>
            <select [(ngModel)]="categoryId" name="category" class="form-select selectCategory" id="inputCategory">
              <option value="0"  disabled selected>Seleccione una categoría</option>
              <option *ngFor="let categoryItem of categories" [value]="categoryItem.categoryId"> {{ categoryItem.name }}</option>
            </select>
          </div>
        </div>

        <label for="inputDescription"><strong>Descripción</strong></label><br>
        <textarea class="form-control inputDescription" id="inputDescription" name="description" placeholder="..." [(ngModel)]="description"></textarea>
      </div>
    </div>
    <div class="buttonDiv">
      <button class="buttonForm" type="button" (click)="crearProducto()">Publicar</button>
    </div>

  </form>
</div>


