<div class="container-fluid">

  <h2>Categorías</h2>
  <div id="carouselExampleAutoplayingCategory" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button *ngFor="let slide of slides; let i = index"
              type="button" data-bs-target="#carouselExampleAutoplayingCategory"
              [attr.data-bs-slide-to]="i"
              [class.active]="i === 0"
              [attr.aria-current]="i === 0 ? 'true' : null"
              [attr.aria-label]="'Slide ' + (i + 1)">
      </button>
    </div>
    <div class="carousel-inner">
      <div *ngFor="let slide of slides; let i = index" class="carousel-item" [class.active]="i === 0">
        <div class="card-group">
          <div class="card" *ngFor="let category of slide" style="max-width: 150px">
            <img src="./assets/Category/Category1.png" class="card-img-top rounded-circle" [alt]="category.name">
            <div class="card-body">
              <h5 class="card-title">{{ category.name }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplayingCategory" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplayingCategory" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <h2>Los más populares</h2>
  <div class="card-group card-group-popular">
    <div class="card" style="max-width: 250px">
      <img src="./assets/Product/Product.png" class="card-img-top" alt="product">
      <div class="card-body">
        <h5 class="card-title">producto1</h5>
        <p class="card-text">S/. Precio</p>
      </div>
    </div>
    <div class="card" style="max-width: 250px">
      <img src="./assets/Product/Product.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">producto2</h5>
        <p class="card-text">S/. Precio</p>
      </div>
    </div>
    <div class="card" style="max-width: 250px">
      <img src="./assets/Product/Product.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">producto3</h5>
        <p class="card-text">S/.Precio</p>
      </div>
    </div>
    <div class="card" style="max-width: 250px">
      <img src="./assets/Product/Product.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">producto4</h5>
        <p class="card-text">S/. Precio</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <p>¡Compra con confianza!</p>
      <p>Disfruta de una experiencia segura <br> y satisfactoria en cada paso</p>
      <img src="./assets/Logo/logoLOCALARTISANS.png" class="img-fluid w-25" alt="logoEmpresa">
    </div>

    <div class="col-8">
      <img src="./assets/ImageHome/finalHome.png" class="img-fluid" alt="imageFinalHome">
    </div>

  </div>

</div>
