<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">
<div class="container-fluid font-josefin">
  <h3 class="hCatalog" style="text-align: center"><strong>CATÁLOGO DE PRODUCTOS</strong>   </h3>
  <h6 class="hCatalog" style="text-align: center">¡Explora nuestro catálogo de artesanías únicas!</h6>
  <div class="mainCatalog">
      <div>Filtrar por Categoría</div>
      <select [(ngModel)]="categoryId" name="category"  id="inputCategory" class="selectCatalog" (change)="findProductByCategory()">
        <option [value]="0">Seleccione una opción</option>
        <option *ngFor="let category of categories" [value]="category.categoryId">{{category.name}}</option>
      </select>
  </div>

<!--  <div class="productsList" *ngFor="let row of rows">-->
<!--    <div class="col-md-3" *ngFor="let product of row">-->
<!--      <div class="card colorCard" style="width: 18rem;">-->
<!--        <img src="../../../../../assets/Img/img6.png" class="card-img-top imgProduct" alt="imagen card">-->
<!--        <div class="card-body textCard">-->
<!--          <span class="spanProduct">-->
<!--            <div class="col-md-8">-->
<!--              <h5><strong>{{product.name}}</strong></h5>-->
<!--            </div>-->
<!--            <div class="col-md-4 productHeart">-->
<!--                <img class="imgHeart" src="../../../../../assets/Img/corazon-circular.png" alt="Heart Icon">-->
<!--              </div>-->
<!--          </span>-->
<!--          <p class="card-text">S/{{product.price}}</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

  <div class="productsList">
    <div class="col-md-3" *ngFor="let product of products">
      <div class="card colorCard" style="width: 18rem;" [routerLink]="['/publication', product.productId]">
        <img [src]="product.image" class="card-img-top imgProduct" alt="imagen card">
        <div class="card-body textCard">
          <span class="spanProduct">
            <div class="col-md-8">
              <h5><strong>{{product.name}}</strong></h5>
            </div>
            <div class="col-md-4 productHeart">
                <img class="imgHeart" src="../../../../../assets/Img/corazon-circular.png" alt="Heart Icon">
            </div>
          </span>
          <p class="card-text">S/{{product.price}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="listPagination">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

</div>
